DTO/SEP/Certificado/CertificadoElectronico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="https://www.siged.sep.gob.mx/certificados/" targetNamespace="https://www.siged.sep.gob.mx/certificados/"
	elementFormDefault="qualified">
	<xs:element name="Dec">
		<xs:annotation>
			<xs:documentation>Estándar para la generación del Documento
				Electrónico de Certificación.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ipes">
					<xs:annotation>
						<xs:documentation>Nodo que contiene la información que identifica
							la información del Institución Privada de Educación Superior
							(IPES).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Responsable">
								<xs:annotation>
									<xs:documentation>Nodo que contiene la información de la
										persona responsable de la Institución.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="curp" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el valor del CURP del
												responsable de la Institución.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="nombre" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el nombre del
												responsable.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="primerApellido" type="xs:string"
										use="required">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el Primer Apellido
												del responsable.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="segundoApellido" type="xs:string"
										use="optional">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el Segundo Apellido
												del responsable.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="idCargo" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el identificador del
												cargo que desempeña el responsable de la Institución.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="cargo" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo que contiene el valor del cargo
												que desempeña el responsable de la Institución.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="idNombreInstitucion" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador de la
									Institución donde se emitirá el Documento Electrónico de
									Certificación.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nombreInstitucion" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el nombre del
									Institución donde se emitirá el Documento Electrónico de
									Certificación.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idCampus" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador del
									Campus de la Institución donde se emitirá el DEC.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="campus" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el nombre del Campus de
									la Institución donde se emitirá el DEC.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idEntidadFederativa" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador que
									corresponde a la entidad federativa.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="entidadFederativa" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor de la entidad
									federativa</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Rvoe">
					<xs:annotation>
						<xs:documentation>Nodo que contiene los valores del Reconocimiento
							de Validez Oficial de Estudios (RVOE)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="numero" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el número del RVOE.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="fechaExpedicion" type="xs:dateTime"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la fecha de expedición
									del RVOE.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Carrera">
					<xs:annotation>
						<xs:documentation>Nodo que contiene la información de la carrera
							cursada por el alumno.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="idCarrera" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador numerico unico de la
									carrera.</xs:documentation>
							</xs:annotation>
						</xs:attribute>						
						<xs:attribute name="claveCarrera" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la clave de la
									carrera.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="nombreCarrera" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el nombre dela carrera
									cursada por el alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idTipoPeriodo" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador del
									Tipo de Periodo de la carrera cursada.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="tipoPeriodo" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la descripción del tipo
									de periodo cursado en la carrera.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="clavePlan" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la clave del plan de la
									carrera cursada por el alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Alumno">
					<xs:annotation>
						<xs:documentation>Nodo que contiene los datos del alumno
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="numeroControl" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el número de control o
									matrícula del alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="curp" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor del CURP del
									alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nombre" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el Nombre del alumno.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="primerApellido" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el Apellido Paterno del
									alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="segundoApellido" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el Apellido Materno del
									alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idGenero" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el género del alumno.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="fechaNacimiento" type="xs:dateTime"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene la fecha de nacimiento
									del alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="foto" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor de la digestión SHA512
									aplicada al archivo de la foto del alumno.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="firmaAutografa" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor de la digestión SHA512
									aplicada al archivo de la firma autógrafa del alumno.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Expedicion">
					<xs:annotation>
						<xs:documentation>Nodo que contiene los datos de la expedicion del
							Documento Electrónico de Certificación.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="idTipoCertificacion" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que indica el identificador del tipo
									de Documento Electrónico de Certificación que se está
									generando.
									1 = Total
									2 = Parcial
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="tipoCertificacion" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que define el tipo de Documento
									Electrónico de Certificación que se está generando.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="fecha" type="xs:dateTime" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que define la fecha de expedición del
									Documento Electrónico de Certificación</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idLugarExpedicion" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que indica el identificador que
									define al lugar de expedición.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="lugarExpedicion" type="xs:string"
							use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que define el lugar de expedición del
									Documento Electrónico de Certificación.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Asignaturas" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Nodo que contiene las asignaturas asignadas al
							alumno.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Asignatura" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo que contiene la descripción de cada
										asignatura asignada al alumno.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="idAsignatura" type="xs:integer" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que contiene el identificador numerico unico de
												la asignatura cursada.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="claveAsignatura" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo requerido que contiene la clave de
												la asignatura cursada.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="nombre" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo requerido la descripción del
												nombre de la asignatura</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ciclo" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que contiene el valor
												del ciclo donde fue cursada la materia.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="calificacion" type="xs:string"
										use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que contiene el valor de
												la calificación obtenida.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="idObservaciones" type="xs:integer"
										use="optional">
										<xs:annotation>
											<xs:documentation>Atributo que indica el identificador de las
												observaciones que pueda tener cada asignatura.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="observaciones" type="xs:string"
										use="optional">
										<xs:annotation>
											<xs:documentation>Atributo requerido que contiene
												observaciones de las asignaturas. ej. EXTRAORDINARIO
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="total" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el total de asignaturas
									comprendidas en el Documento Electrónico de Certificación.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="asignadas" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el total de asignaturas
									asignadas al alumno</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="promedio" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el promedio de las
									asignaturas del alumno</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Dreoe" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nodo que contiene la definición de los atributos
							del Sello de la persona responsable de la firma electrónica en la
							SEP.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="fechaDreoe" type="xs:dateTime" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la fecha y hora
									de la generación del sello del responsable de la firma electrónica
									en la SEP. Se expresa en la forma aaaa-mm-ddThh:mm:ss.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="selloDec" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido con valor del sello digital
									del Documento Electrónico de Certificación del responsable de la
									institución, expresado en una cadena de texto en formato Base64.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="noCertificadoDreoe" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el número de
									serie del certificado de sello del responsable en la SEP que
									ampara al Documento Electrónico de Certificación.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="curp" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor del CURP del
									responsable en la SEP.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nombreCompleto" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el nombre completo del
									responsable en la SEP.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="idCargo" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el identificador del cargo
									que desempeña el responsable en la SEP.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="cargo" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo que contiene el valor del cargo que
									desempeña el responsable en la SEP.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="selloDreoe" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido con valor del sello digital
									del responsable en la SEP, expresado en una cadena de texto en
									formato Base64.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="SepIpes" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nodo que contiene la definición de los atributos de
							Sello del Documento Electrónico de Certificación.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="version" fixed="1.0" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido con el valor prefijado a 1.0
									que indica la versión del estándar bajo el que se encuentra
									expresado el Documento Electrónico de Certificación.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="folioDigital" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido que define el Folio único del
									Documento Electrónico de Certificación conforme al estándar RFC
									4122.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="fechaSepIpes" type="xs:dateTime"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la fecha y hora
									de la generación del sello del Documento Electrónico de
									Certificación de la SEP. Se expresa en la forma
									aaaa-mm-ddThh:mm:ss.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="selloDreoe" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido con valor del sello digital
									del responsable en la SEP. El sello deberá ser expresado cómo una
									cadena de texto en formato Base 64.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="noCertificadoSepIpes" type="xs:string"
							use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el número de
									serie del certificado del timbrador de la SEP, usado para generar
									el sello digital SEP del Documento Electrónico de Certificación.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="selloSepIpes" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para contener el sello digital
									SEP al que hace referencia al Documento Electrónico de
									Certificación. El sello deberá ser expresado cómo una cadena de
									texto en formato Base 64.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>						
			</xs:sequence>
			<xs:attribute name="version" use="required" fixed="1.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido con valor prefijado a 1.0 que
						indica la versión del estándar bajo el que se encuentra expresado
						el Documento Electrónico de Certificación.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute fixed="5" name="tipoCertificado" type="xs:integer"
				use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido con valor prefijado a 5 que
						indica que se trata de un documento de Institución Particular de
						Educación Superior (IPES) para la emisión de un documento de
						certificación.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="folioControl" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo opcional que indica el folio para
						control interno de la institución educativa.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sello" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido con valor del sello digital
						del Documento Electrónico de Certificación del responsable de la
						institución, expresado en una cadena de texto en formato Base64.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="certificadoResponsable" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para expresar el certificado
						de sello del responsable de la institución que ampara al Documento
						Electrónico de Certificación como texto, en formato Base64.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noCertificadoResponsable" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para expresar el número de
						serie del certificado de sello del responsable de la institución
						que ampara al Documento Electrónico de Certificación.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>